
.input-rounded {
    height: 15px;
}

.input-rounded:focus{
    border-color: green;
}

.hr {
    box-shadow: 0 1px 5px 1px rgb(33 202 46 / 14%);
}

.cardHeight {
    height: 335px;
}

.img-icons {
    margin-top: 50px !important;
    width: 100px !important;
}

.card-images-height {
    height: 180px;
}

.titleMateria {
    font-size: 18px !important;
    line-height: 25px !important;
}

.img-icons-listPlanificacion {
    width: 50px !important;
}