
.input-rounded {
    height: 15px;
}

.input-rounded:focus{
    border-color: green;
}

.hr {
    box-shadow: 0 1px 5px 1px rgb(33 202 46 / 14%);
}

.cardHeight {
    height: 335px;
}

.img-icons {
    margin-top: 50px !important;
    width: 100px !important;
}

.card-images-height {
    height: 180px;
}

.gradient-materias {
    background-image: linear-gradient(230deg, #fcfcfc00, #f7e7ff);
}

.titleMateria {
    font-size: 18px !important;
    line-height: 25px !important;
}

.img-icons-listPlanificacion {
    width: 50px !important;
}

.bannerList_radius {
    border-radius: 80px !important;
}

.bannerList:hover {
    cursor: pointer;
    background-image: linear-gradient(230deg, #fcfcfc00, #edd0fb);
}