.gradient-materias {
    background-image: linear-gradient(230deg, #fcfcfc00, #f7e7ff);
}

.bannerList_radius {
    border-radius: 80px !important;
}

.bannerList:hover {
    cursor: pointer;
    background-image: linear-gradient(230deg, #fcfcfc00, #edd0fb);
}

.titleMateriaList {
    font-size: 15px !important;
    line-height: 25px !important;
}