/*.materias {
    height: 110px !important;
    cursor: pointer;
}

.materias:hover {
    background-image: linear-gradient(135deg, #155297 10%, #00EAFF 100%);
}*/

.cardCustom {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.cardHeight {
    height: 335px;
}

.cardImagesHeight {
    height: 175px;
}

.card-images-height {
    height: 180px;
}

.img-icons {
    margin-top: 50px !important;
    width: 100px !important;
}

.img-icons-baner {
    width: 80px !important;
}

.img-icons-listPlanificacion {
    width: 50px !important;
}

.titleMateria {
    font-size: 18px !important;
    line-height: 25px !important;
}

.titleMateriaList {
    font-size: 15px !important;
    line-height: 25px !important;
}

.bannerList_radius {
    border-radius: 80px !important;
}

.bannersList_padding {
    padding: 12px !important;
}

.bannerList:hover {
    cursor: pointer;
    background-image: linear-gradient(230deg, #fcfcfc00, #edd0fb);
}

.gradient-materias {
    background-image: linear-gradient(230deg, #fcfcfc00, #f7e7ff);
}

.gradient-moreForm {
    background-image: linear-gradient(230deg, #fcfcfc00, #e7fff7);
}

.dinamicCard {
    height: 29em !important;
    border: #d0cccc 5px dashed;
}

.dinamicCard:hover {
    cursor:pointer;
    background-image: linear-gradient(230deg, #fcfcfc00, #baf5e1);
    border-color: #a2a0a0;
}

.centerPlus {
    position: relative;
    top: 5em;
    font-size: 25px;
}

.gradient-card-success {
    background-image: linear-gradient(230deg, #fcfcfc00, #baf5e1);
}

.gradient-card-error {
    background-image: linear-gradient(230deg, #fcfcfc00, #f5bace);
}

.icon-card-success {
    color: #00B236;
    position: absolute;
    font-size: 23em;
    opacity: 0.1;
    right: 1em;
}

.icon-card-error {
    color: hsl(332, 100%, 35%);
    position: absolute;
    font-size: 23em;
    opacity: 0.1;
    right: 1em;
}
