body {
    width: 100%;
    height: auto;
}

.card {
    margin-top: 20px;
}

img {
    display: inline;
}

button.btn {
    display: inline;
	background-color: #0F8B0B !important;
	color:  white !important;
	border-radius: 20px !important;
}

button.btn:hover {
    background-color: #085c05 !important;
}

a.btn {
    display: inline;
	background-color: #0F8B0B !important;
	color:  white !important;
	border-radius: 20px !important;
}

a.btn:hover {
    background-color: #085c05 !important;
}

.materialcustom {
    background-color: #0F8B0B !important;
	color:  white !important;
}

.materialcustom:hover {
    background-color: #085c05 !important;
}

#btn-session {
    float: right;
}

.lineatap {
    position: relative;
    top: 5px;
    background-color: silver;
    color: #595959;
    padding: 14px 20px;
    margin-left: 50px;
    border: 2px solid #c0b4b4;
    border-radius: 100%;
    z-index: 2;
    transition: all 0.5s ease-out;
}

.lineSecuencia {
    position: relative;
    bottom: 20px;
    background-color: silver;
    z-index: 1;
}

.lineLabels {
    position: relative;
    bottom: 8px;
    color: #3a3a3a;
    padding: 5px;
    font-size: 13px;
    background: silver;
    color: #595959;
    border: 1px solid #c0b4b4;
    border-radius: 20px 5px 20px 5px;
}

.gradientProgress {
    margin-top: 90px;
    background: rgb(17,121,9);
    background: linear-gradient(303deg, rgba(17,121,9,1) 3%, rgba(14,138,54,1) 10%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 100%);
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.input {
	border-radius: 15px !important;
	background-color: rgba(255, 255, 255, 0.3);
}

.input:focus {
	border-color: rgba(10,101,7,0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(10,101,7, 0.6);
	outline: 0 none;
	background-color: rgba(255, 255, 255, 0.3);
}

.radio {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    accent-color: green;
}

/*custom swicth bootstrap*/
.custom-switch .custom-control-label::before {
    height: 20px !important;
    width: 2rem !important;
    border-radius: 20px !important;
    cursor:pointer !important;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #0F8B0B !important;
    background-color: #0F8B0B !important;
}
.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 3px) !important;
    left: calc(-2.25rem + 3px) !important;
    width: calc(1rem - 2px) !important;
    height: calc(1rem - 2px)!important;
}

/*custom spinner*/
.spinner-border {
    width: 25px !important;
    height: 25px !important;
}

/*pill*/

.pill {
    background: #224466;
    color: white;
    padding: 15px;
    margin: 1px;
}

.pillLeft {
    border-radius: 30px 0px 0px 30px
}

.pillRight {
    border-radius: 0px 30px 30px 0px
}

.switch {
    width: 100% !important;
}

/*estilos foto estudiantil*/
.formBox {
    margin: 40px 0px 20px;
    padding: 0px 50px;
    position: absolute;
}

.formBox h4 {
    text-align: center;
    color: #acacac;
    font-size: 40px;
    font-weight: 400;
}

.formBox .grid {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.formBox .grid .form-element {
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
    
.formBox .grid .form-element input {
    display: none;
}

.formBox .grid .form-element label {
    width: 100%;
    height: 100%;
    position: relative;
}

.formBox .grid .form-element img, .formBox .grid .form-element canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.formBox .grid .form-element img {
    position: absolute;
    z-index: 1;
}

.formBox .grid .form-element canvas {
    position: relative;
    z-index: 20;
}

.formBox .grid .form-element div {
    position: relative;
    height: 40px;
    margin-top: -46px; /*40*/
    background:rgb(0,0,0,0.5);
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 600;
    border-radius:  0px 0px 20px 20px;
    z-index: 21;
}

.formBox .grid .form-element div:hover {
    cursor: pointer;
    background:rgb(0,0,0,0.7);
}

.formBox .grid .form-element div span {
    font-size: 40px;
}

.face-box {
    border: 1px solid #f00;
    position: absolute;
}

#load_facedetection {
    position: absolute;
    z-index: 99;
    left: 47%;
    top: 28%;
}

.items_foto{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 5px;
}

.datepicker-modal {
    overflow: auto !important;
}

/*cupos sections*/
.turno_cupo {
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.turno_cupo:hover {
    background-color: rgba(20, 180, 14, .4);
    transform: scale(1.05);
}

.cardTurn {
    padding: 15px;
}

.cardTurnMorning {
    background: rgb(2,0,36);
    background: linear-gradient(
        141deg, 
        rgba(2,0,36,1) 0%, 
        rgba(25,71,138,1) 16%, 
        rgba(51,153,255,1) 56%, 
        rgba(50,154,255,0.5019257703081232) 
        100%
    );
}

.cardTurnAfternon {
    background: rgb(233,24,46);
    background: linear-gradient(
        141deg, 
        rgba(233,24,46,1) 0%, 
        rgba(224,70,86,1) 18%, 
        rgba(255,174,51,1) 46%, 
        rgba(255,196,51,0.9641106442577031) 66%, 
        rgba(255,225,51,0.8352591036414566) 87%
    );
}

.cardTurn div span {
    display: inline; 
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.cardTurn div img {
    width: 120px; 
    float: right;
}

.btnAlternative {
    background-color: #fff !important;
    border: solid 2px #0F8B0B;
    color: #0F8B0B !important;
    border-radius: 20px;
    padding: 5px 10px
}

.btnAlternative:hover {
    background-color: #0F8B0B !important;
    color: #fff !important;
}

